@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: blue;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}
.container{
    background-color: thistle;
    text-align: center;
    border-radius: 20px;
    max-width: 100%;
    padding: 60px 40px;
}
.joke{
    margin: 70px;
    max-width: 600px;
    letter-spacing: 2px;
    font-size: 28px;

}
h3{
    letter-spacing: 3px;
    opacity: 0.4;
    color: black;
}
.btn{
    background-color: rgba(190,41,41);
    border-radius: 6px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:active{
    transform: scale(.88);
}