html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
.discount{
  background-color:#002e35;
  color:white;
  margin: 0;
  text-align: center;
  border: 0;
}
.discount h4{
  margin:0;
}
/* NAVBAR */
nav .logo{
  /* display: inline; */
  margin-left: 8em;
  height:43px;
}
nav{
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  height: 100px;
}
.midnav{
  display: flex;
  justify-content: space-evenly;
}
nav ul{
  display: flex;
  padding-left: 0;
}
nav ul li{
  list-style: none;
  display: flex;
}
nav ul li a{
  color: black;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.5em 1em;
}
nav ul li a span{
  font-weight: 600;
}
.hamburger{
  display: none;
  
}
.settings{
  margin-right: 8em;  
}
.settings #img2, .settings #img1{
  padding: 10px;
}

@media screen and (min-width: 68px) and (max-width: 999px) {
  .discount h4{
    font-size: 18px;
  }
  .hamburger{
    display: flex;
    float:left;
    margin-bottom: 11px;
    margin-left: 20px0;
  }
  .midnav{
    display: none;
  }
  nav{
    display: flex;
    margin: 0;
  }
  nav .logo{
    margin-left: 2em;
  }
  .hamburger{
    margin-left: 20px;
  }
  .settings{
    margin: 0;
    margin-right: 18px;
  }
  .settings #img2{
    display: none;
  }
}
/*                                        main content                           */

.flexbox-container{
  display: flex;
}
.flexbox-item{
  width:80%;
  margin: 10px;
}
.flexbox-item-1{
  min-height: 300px;
}
.flexbox-item-2{
  min-height: 300px;
}
.flexbox-item-3{
  min-height: 300px;
}
.flexbox-item img{
  width: 100%;
  object-fit: contain;
}


.top-size button{
  border-radius:50px;
  width: 51px;
  height: 33px;
  border: 1px solid;
}
.top-size button:hover{
  background-color: #0b0b0b;
  color:white;
}



#quantity-btn{
  height: auto;
  width: 119px;
  border:1px solid;
}
#quantity-btn button{
  height: 30px;
  border: none;
  background-color: white;
}
#quantity-btn input{
  border:none;
  height: 30px;
  width: 71px;
  text-align: center;
}


#buy, #addtocart{
  padding: 10px;
  width: 26em;
}
#addtocart:hover{
  color:white;
  background-color: #002e35 ;
  cursor:pointer;
}
#buy:hover{
 cursor:pointer;
 background-color: white;
 color: black;
}
#buy{
  position: relative;
  top:11px;
  background-color: #002e35;
  color:white;
}
.flexbox2-item{
  display:flex;
  flex-direction: column;
}



.text{
  opacity: 0.9;
  font-size: 14px;
  width: 26em;
}


/* .flexbox3 span{
  position: relative;
  left: 3em;
}
.flexbox3 img{
  position: relative;
  top:27px;
  right: 14em;
} */



/*================================================== Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */ 



/* .dropdown{
  display: flex;
  width: 23em;
}
.drop-material{
  display: flex;
  
}
#dropdown-text{
  display: inline;
  
}
#drop1{
  margin-right: 1em;
  margin-left: 1px;
}
#drop2{
  height: 12px;
  padding: 6px;
  margin-left: 200px;
} */


.accordion {
  margin: 0;
  font-size: 15px;
  color: black;
  background-color: white;
  width:25em;
}
.accordion hr{
  opacity: 0.5;
}
.label{
  font-size:13px;
}
.accordion .container {
  position: relative;
  display: flex;
}
.accordion .label {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  display: flex;
  width: 45px;
}
.according .label p{
  display: flex;
  width: 80px;
  
}

